version: '3.8'

services:
  # --- SERVER WEB 1 (Nasi Goreng) ---
  server1:
    image: nginx:alpine
    container_name: web_server_1
    volumes:
      - ./server1/index.html:/usr/share/nginx/html/index.html
    ports:
      - "8081:80"
    networks:
      backend:
        ipv4_address: 10.0.0.10

  # --- SERVER WEB 2 (Seblak) ---
  server2:
    image: nginx:alpine
    container_name: web_server_2
    volumes:
      - ./server2/index.html:/usr/share/nginx/html/index.html
    ports:
      - "8082:80"
    networks:
      backend:
        ipv4_address: 10.0.0.20

  # --- LOAD BALANCER (Nginx) ---
  loadbalancer:
    image: nginx:latest
    container_name: load_balancer_nginx
    # Akses Load Balancer di http://localhost
    ports:
      - "80:80" 
    volumes:
      - ./nginx-lb.conf:/etc/nginx/conf.d/default.conf
    networks:
      backend:
        ipv4_address: 10.0.0.30
    depends_on:
      - server1
      - server2

# --- JARINGAN KUSTOM ---
networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24